.App {
  text-align: center;
}

.cabin {
  font-family: "Cabin", sans-serif;
}

.gray {
  color: #787c7e;
  font-weight: 800;
}

.yellow {
  color: #ebc961;
}

.green {
  color: #339966;
}

.form-control {
  width: 50%;
}
.form-label {
  margin: 10px 0px 0px 0px;
}

.create-word {
  margin-top: 30px;
}

.custom-nav-link {
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 5px;
}
a {
  text-decoration: "none";
  color: black;
}

a:link {
  text-decoration: "none";
  color: black;
}

a:visited {
  text-decoration: "none";
  color: black;
}
.icon {
  height: 30px;
  margin: 10px;
}

.icon:hover {
  transform: scale(1.2);
}
button:hover {
  transform: scale(1.2);
}
