.App {
  text-align: center;
}
.navbar-brand {
  font-size: 2rem;
}
.cabin {
  font-family: "Cabin", sans-serif;
  font-weight: 800;
}
.gray {
  color: #787c7e;
}

.yellow {
  color: #ebc961;
}

.green {
  color: #339966;
}

.form-control {
  width: 50%;
}
.form-label {
  margin: 10px 0px 0px 0px;
}

.create-word {
  margin-top: 30px;
}
a {
  text-decoration: "none";
  color: black;
}

a:link {
  text-decoration: "none";
  color: black;
}

a:visited {
  text-decoration: "none";
  color: black;
}

/* .navlink {
  padding-left: 30px;
  text-decoration: none;
  color: black;
}
.dropdown {
  display: flex;
  margin: 20px 20px 20px 30px;
} */
