.game-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}
.title {
  letter-spacing: 0.1rem;
  font-size: 30px;
  font-weight: 600;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.game-cube {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.letter-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.letter {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  border-radius: 50%;
}

.correct {
  background: #339966;
  color: #fff;
}

.present {
  background: #ebc961;
  color: #fff;
}

.absent {
  background: #787c7e;
  color: #fff;
}
.dot {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: inline-flex;
}

@media only screen and (max-width: 570px) {
  .letter {
    font-size: 30px;
    font-weight: 700;
    width: 55px;
    height: 55px;
  }
}
