.keyboard-container {
  /* height: 100vh; */
  margin-top: 20px;
}

.keyboard-rows {
  padding-bottom: 10px;
}

.key-button {
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background: #d3d6da;
  padding: 22px 18px;
  border: none;
  text-transform: uppercase;
  margin: 5px;
}
.key-correct {
  background: #339966;
  color: #fff;
}

.key-present {
  background: #c9b458;
  color: #fff;
}

.key-absent {
  background: #787c7e;
  color: #fff;
}

@media only screen and (max-width: 570px) {
  .key-button {
    padding: 12px 10px;
    margin: 3px;
  }
}
